/* add frontend css code here */
.sirv-block-gallery-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sirv-block-gallery-div[data-align=alignright] {
  align-items: end;
}
.sirv-block-gallery-div[data-align=alignleft] {
  align-items: start;
}

.sirv-block-gallery-div[data-align=aligncenter] {
  align-items: center;
}
